# a html parser used for minifying html
beautifulsoup4 >= 4.10.0

# for internal markdown conversion when building the website
markdown >= 3.3.6

# needed to minify html output
minify_html >= 0.8.0

# we need pyyaml to process the metadata formatted in yaml
pyyaml >= 6.0

# regex is needed for processing commands as regular expressions
regex >= 2021.11.10

# selenium is needed for fully evaluating the html pages
selenium >= 4.1.0

# strip-hints is a tool for removing type hints
strip-hints >= 0.1.10

# urllib3 is needed to generate the resources
urllib3 >= 1.26.7

# yapf is a python code formatter
yapf >= 0.32.0
