# a html parser used for minifying html
beautifulsoup4 >= 4.11.1

# for internal markdown conversion when building the website
markdown >= 3.4.1

# needed to minify html output
minify_html >= 0.9.2

# we need pyyaml to process the metadata formatted in yaml
pyyaml >= 6.0

# regex is needed for processing commands as regular expressions
regex >= 2022.07.09

# selenium is needed for fully evaluating the html pages
selenium >= 4.3.0

# strip-hints is a tool for removing type hints
strip-hints >= 0.1.10

# urllib3 is needed to generate the resources
urllib3 >= 1.26.10

# yapf is a python code formatter
yapf >= 0.32.0
