# yapf is a python code formatter
yapf >= 0.31.0

# strip-hints is a tool for removing type hints
strip-hints >= 0.1.9

# regex is needed for processing commands as regular expressions
regex >= 2021.4.4
